<title>My application deployed automatically</title>
  <h1>Check your guess</h1>
  <br>
  <h3>Box1: Your array</h3>
  <br>
  <h3>Box2: First index that you want to begin</h3>
  <br>
  <h3>Box3: Second index that you want to finis</h3>
  <br>
  <h3>Box4: Your guess</h3>
  <br>
  <h3>Results show is your guess true or false</h3>
    Results are {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="2" cols="5"></textarea>
        <textarea name="input2" rows="1" cols="5"></textarea>
        <textarea name="input3" rows="1" cols="5"></textarea>
        <textarea name="input4" rows="1" cols="5"></textarea>
        <br>
        <input type="submit">
  </form>